flask
google-genai
Pillow
dotenv
langchain_google_genai
langchain_ollama
langgraph
langchain_community
openai
bs4
langchain_chroma
deep-translator
loguru
number2text
#for windows :
#pip install git+https://github.com/openai/whisper.git
#for mac:
#openai-whisper
#for cpu:
#torch
#for cuda:
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128